.grid-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
  gap: 16px; /* Espacio entre tarjetas */
  padding: 16px; /* Espacio dentro del contenedor */
  justify-content: space-between; /* Distribuye las tarjetas con espacio entre ellas */
}

.dashboard-card {
  flex: 1 1 300px; /* Cada tarjeta ocupará al menos 300px de ancho */
  margin: 8px; /* Espacio alrededor de cada tarjeta */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-card-content {
  margin-top: 16px;
}
