<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <br>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Formulario</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Agregar</button>
      </form>
    </mat-card-content>
  </mat-card>
   <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              card usuarios
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <table>
            @for(elementStudent of studentsArray; track elementStudent){
              <tr>
                <td>
                  {{elementStudent.id}}
                </td>
                <td>
                  <a (click)="showName(elementStudent.name)">{{elementStudent.name}}</a>
                </td>
                <td>
                  <button mat-button (click)="deleteStudent(elementStudent.id)">delete</button>
                </td>
              </tr>
            }
          </table>
          </mat-card-content>
        </mat-card>
</div>
